* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --screen-width: 310px;
    --screen-height: 690px;

}

body {
    background-color: #d9dff8;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-page {
    position: relative;
    left: 50%;
    transform: translate(-50%,20px);
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #f9faff;
    border-radius: 44px;
    padding: 44px 24px;
}

.home-page::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 120px;
    background-color: #18191d;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px #d3cdcd;
}

.nav-list {
    display: flex;
}
.nav-list .nav-item {
    color: #9294a6;
    font-size: 20px;
    list-style: none;
    cursor: pointer;
}

.nav-item:first-child {
    flex: 3;
}

.nav-item:last-child {
    margin-left: 24px;
}

.sup {
    margin-top: 24px;
    font-size: 36px;
}

.home-page .add-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    font-size: 20px;
    color: #fff;
    background-color: #0869ff;
    border: none;
    cursor: pointer;
    z-index: 1;
    bottom: 40px;
    right: 24px;
    animation: wave 2s infinite linear alternate;
}

@keyframes wave {
    to {
        box-shadow: 0 0 16px 8px #76a2e4;
    }
}

