* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --screen-width: 310px;
    --screen-height: 690px;

}

body {
    background-color: #d9dff8;
    font-size: 14px;
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
}

@keyframes wave {
    to {
        box-shadow: 0 0 18px 8px #5893ec;
    }
}

@keyframes lineAnimation {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}

.overview-page {
    position: relative;
    left: 50%;
    transform: translate(-50%,20px);
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #0e1f55;
    border-radius: 44px;
    padding: 44px 24px;
    overflow: hidden;
    border: 1px solid #0fbcf9;
    box-shadow: 0 0 4px 1px #0fbcf9;
}

.overview-page .overview-avatar {
    width: 100px;
    height: 100px;
    border: 2px solid #f75bf7;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    box-shadow: 0 0 8px 5px #f75bf7;
    padding: 12px 18px;
    border-radius: 60px;
    margin: 16px 0 0 12px;
    animation: wave 1s infinite linear alternate;
}
.overview-page .back-btn {
    position: absolute;
    font-size: 16px;
    color: #fff;
    width: 44px;
    height: 44px;
    border: 2px solid #f75bf7;
    border-radius: 24px;
    left: 55%;
    padding: 9px 0 0 11px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.overview-page .back-btn:hover {
    box-shadow: 0 0 5px 2px #76a2e4;
}


.overview-page .overview-avatar .ti-user {
    color: #3a62ad;
    font-size: 60px;
}

.overview-page .overview-name {
    margin: 44px 0;
    color: #fff;
    font-size: 30px;
}
.overview-page .navbar-item {
    font-size: 16px;
    margin-top: 24px;
    color: #d4d1d1;
}
.overview-page .navbar-item i {
    margin-right: 10px;
    font-size: 20px;
    color: #3a62ad;
}

.overview-page .overview-line {
    margin-top: 120px;
    width: 180px;
    height: 2px;
    background-color: #f75bf7;
    box-shadow: 0 0 2px 1px #f75bf7;
    border-radius: 2px;
    animation: lineAnimation 2s infinite linear alternate;
}

.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #f9faff;
    border-radius: 44px;
    padding: 44px 24px;
    border: 1px solid #0fbcf9;
    box-shadow: 0 0 4px 1px #0fbcf9;
    transition: all 0.3s ease-in-out;
}

.home-page.translate {
    transform: translateX(220px) scale(0.85);
}

.home-page::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 120px;
    background-color: #18191d;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px #d3cdcd;
}

.nav-list {
    display: flex;
}
.nav-list .nav-item {
    color: #9294a6;
    font-size: 22px;
    list-style: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.nav-list .nav-item:hover {
    color: #000;
    transform: scale(1.1);
}

.nav-item:first-child {
    flex: 3;
}

.nav-item:first-child:hover {
    transform: translateX(8px) scale(1.1);
}

.nav-item:last-child {
    margin-left: 24px;
}

.sup {
    margin-top: 24px;
    font-size: 32px;
}

.home-page .add-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    font-size: 20px;
    color: #fff;
    background-color: #0869ff;
    border: none;
    cursor: pointer;
    z-index: 1;
    bottom: 40px;
    right: 24px;
    animation: wave 2s infinite linear alternate;
}



