.category-title {
    color: #a5a7ba;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.category-list {
    padding: 6px 0;
    overflow-x: auto;
    white-space: nowrap;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: inline-block;
    list-style: none;
    background-color: #fff;
    height: 94px;
    width: 160px;
    box-shadow: 0 0 2px 1px #c4c4c7;
    padding: 14px;
    margin-left: 3px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.category-item:hover {
    box-shadow: 0 0 5px 1px #0fbcf9;
}

.category-item .task-number {
    font-size: 12px;
    color: #888994;
}
.category-item .category-item-title {
    margin: 4px 0 10px 0;
    font-size: 18px;
}
.progress-bar {
    width: 100%;
    background-color: grey;
}

@keyframes twinklePink {
    to {
        box-shadow: 0 0 5px 3px #f178f5;
    }
}
@keyframes twinkleBlue {
    to {
        box-shadow: 0 0 5px 3px #5b8eec;
    }
}
.progress {
    width: 42%;
    height: 4px;
}

.progress-pink {
    background-color: #f14af7;
    box-shadow: 2px 3px 5px 0 #f14af7;
    animation: twinklePink 1s infinite linear alternate;
}

.progress-blue {
    background-color: #3374ee;
    box-shadow: 2px 3px 5px 0 #3374ee;
    animation: twinkleBlue 1s infinite linear alternate;

}