.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #f9faff;
    border-radius: 36px;
    padding: 44px 24px;
    border: 1px solid #0fbcf9;
    box-shadow: 0 0 4px 1px #0fbcf9;
    transition: all 0.3s ease-in-out;
}

.home-page.translate {
    transform: translateX(220px) scale(0.85);
}
.nav-list {
    display: flex;
}
.nav-list .nav-item {
    color: #9294a6;
    font-size: 22px;
    list-style: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.nav-list .nav-item:hover {
    color: #000;
    transform: scale(1.1);
}

.nav-item:first-child {
    flex: 3;
}

.nav-item:first-child:hover {
    transform: translateX(8px) scale(1.1);
}

.nav-item:last-child {
    margin-left: 24px;
}

.sup {
    margin-top: 24px;
    font-size: 32px;
    animation: textShadow 3s infinite  ease-in-out alternate;
}

@keyframes textShadow {
    0% {
        text-shadow: 3px -2px 6px #28c0ee;
    }
    25% {
        text-shadow: -3px 2px 6px #28c0ee;
    }
    50% {
        text-shadow: 0 0 2px#28c0ee;
    }
    75% {
        text-shadow: -3px -2px 6px #28c0ee;
    }
    100% {
        text-shadow: 3px 2px 6px#28c0ee;
    }
}

.home-page .add-btn {
    position: fixed;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #0869ff;
    border: none;
    cursor: pointer;
    z-index: 1;
    bottom: 40px;
    right: 24px;
    animation: wave 1.5s infinite linear alternate;
}

.no-task-sign {
    display: block;
    position: absolute;
    background-color: #ffce62;
    width: 80%;
    padding: 24px;
    top: 66%;
    right: 10%;
    border-radius: 16px;
    visibility: hidden;
    animation: sign 1.5s infinite alternate;
}
.no-task-sign.show {
    visibility: visible;
}

.no-task-sign::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top: 14px solid #ffce62;
    border-right: 14px solid #ffce62;
}

@keyframes sign {
    from {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(8px);
    }
}

@media screen and (max-width: 413px) {
    .home-page {
        border-radius: 0;
    }
    .home-page.translate {
        border-radius: 36px;
    }
}